Pods/
.idea
ImojiSDK.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ImojiSDK.xcodeproj/project.xcworkspace/xcuserdata/nkhoshini.xcuserdatad/UserInterfaceState.xcuserstate
ImojiSDK.xcodeproj/xcuserdata/nkhoshini.xcuserdatad/xcschemes/ImojiSDK.xcscheme
ImojiSDK.xcodeproj/xcuserdata/nkhoshini.xcuserdatad/xcschemes/xcschememanagement.plist
ImojiSDK.xcworkspace/contents.xcworkspacedata
